.contact-us{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.tab1{
    flex-direction:column ;
    justify-content: space-between;
}

.contactLinks{
    padding-top: 50px;
}

.contact-link{
    text-decoration: none;
    color: #104a8e;
}