.skill{
display: flex;
justify-content: space-between;
padding: 20px 40px;
}

.leftDown{
    display: flex;
    justify-content: space-around;
    padding: 60px 30px;
}

.website{
   
   background-color: cyan;
   border-radius: 100px;
   height: 100px;
   width: 110px;
   padding: 40px;
}

.phone{

}

.skillset{
    padding: 25px;
    padding-left: 20px;

}

.right{
    padding: 0 50px;

}