.skill{
display: flex;
justify-content: space-between;
padding: 20px 60px;
}

.leftDown{
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
}

.website{
   padding: 0 10px;
}

.phone{

}

.skillset{

}

.right{
    padding: 0 50px;

}