.experiences{
   justify-content: space-between;
   /* text-align: left;
   width: 500px; */
}

.work{
    text-align: center;
    padding-bottom: 10px;
}

.companies{
    white-space: nowrap;

}

.position{
    padding: 0 20px;
    white-space: wrap;
    

}

.position-name{
    display: flex;
    justify-content: space-around;
}

.dottedLine{
    padding: 30px;
}

.company-name{
    padding-bottom: 40px;

}

.heading{
 
}
.p-writing{
display: inline-block;
}
