.experiences{
   justify-content: space-between;
  
   
}

.portfolio-exp{
    margin: auto;
    padding: 40px 10px;
}

.exp{
    text-align: center;
    padding: 50px 0;
    line-height: 2em;
}

.companies{
    white-space: nowrap;

}

.position{
    padding: 0 20px;
    white-space: wrap;
    

}

.position-name{
    display: flex;
    justify-content: space-around;
}

.dottedLine{
    padding: 30px;
}

.company-name{
    padding-bottom: 40px;

}

.heading{
 
}
.p-writing{
display: inline-block;
}
